body{
    font-family: Verdana, sans-serif;
}
#encabezado {
    background-color:beige;
    width: auto;
    height: 43px;
    margin: 0px;
    color: black;
    text-align: right;
}
a{
    margin: 15px;
    text-decoration: none
}
#titulo {
    color: chocolate;
    text-align: center;
    font-size: 70px;
    text-shadow: 0 0 5px black;
}
#form {
    text-align: center;
}
#campo {
    border-radius: 20px;
    width: 500px;
    height: 30px;
    font-size: larger;
    outline: none;
    border: 1px solid grey;
    text-align:center;
}
#campo:hover{
    border: 1px ;
    box-shadow: 0 0 5px black;
}
#boton:hover{
    border: 1px ;
    box-shadow: 0 0 5px black;
}

#boton {
    margin: 5px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
}
#footer {
    background-color: beige;
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: black;
    text-align: center;
  }